<ol class="form">
  <% if config_list_columns? %>
  <li class="form-element">
    <dl><dt><label><%= as_ :columns %></label></dt>
    <dd>
      <%= active_scaffold_checkbox_list(
            nil,
            config_list_columns,
            config_list_params || config_list_columns.map(&:last),
            {
              name: 'config_list',
              id: "#{element_form_id(action: :config_list)}-columns",
              class: ('sortable-container' unless active_scaffold_config.config_list.draggable)
            },
            ui_options: {draggable_lists: active_scaffold_config.config_list.draggable, item_options: {class: 'sortable'}}
          ) %>
    </dd></dl>
  </li>
  <% end %>
  <% if config_list_sorting? %>
  <li class="form-element">
    <dl><dt><label><%= as_ :default_sorting %></label></dt>
    <dd><ol>
<%
  columns_options = list_columns.select(&:sortable?).map { |c| [c.label, c.name] }
  order_options = ['asc', 'desc'].map { |v| [as_(v), v] }
  selected = config_list_sorting || []
  3.times do |i|
%>
      <li><%= select_tag "config_list_sorting[#{i}][]", options_for_select(columns_options, selected: selected[i]&.first), include_blank: as_(:_select_), class: 'column' %>
      <%= select_tag "config_list_sorting[#{i}][]", options_for_select(order_options, selected: selected[i]&.last), include_blank: as_(:_select_), class: 'order' %></li>
<% end %>
    </ol></dd></dl>
  </li>
  <% end %>

  <% if config_list_save_named_views? %>
    <li class="form-element">
      <dl><dt><label><%= as_ :view_name %></label></dt>
        <dd>
          <%= text_field_tag "config_list_view_name", params[:config_list_view], active_scaffold_input_text_options %>
          <% if params[:config_list_view].present? %>
          <label style="display: none;">
            <input type="checkbox" name="config_list_old_view_name" value="<%= params[:config_list_view] %>" />
            Rename the view "<%= params[:config_list_view] %>"
          </label>
          <% end %>
        </dd></dl>
    </li>
  <% end %>
</ol>
