<ol class="form">
  <% if config_list_columns? %>
  <li class="form-element">
    <dl><dt><label><%= as_ :columns %></label></dt>
    <dd>
      <%= active_scaffold_check_all_buttons(nil, {}, ui_options: {}) if respond_to? :active_scaffold_check_all_buttons %>
      <ul class="<%= active_scaffold_config.config_list.draggable ? 'checkbox-list draggable-lists' : 'sortable-container' %>" id="<%= element_form_id(action: :config_list) %>-columns">
<% config_list_columns.each do |label, column| %>
      <li class="sortable">
        <%= check_box_tag 'config_list[]', column.to_s, (config_list_params.nil? ? true : config_list_params.include?(column)), {id: nil}%>
        <label><%= label %></label>
      </li>
<% end %>
    </ul></dd></dl>
  </li>
  <% end %>
  <% if config_list_sorting? %>
  <li class="form-element">
    <dl><dt><label><%= as_ :default_sorting %></label></dt>
    <dd><ol>
<%
  columns_options = list_columns.select(&:sortable?).map { |c| [c.label, c.name] }
  order_options = ['asc', 'desc'].map { |v| [as_(v), v] }
  selected = config_list_sorting || []
  3.times do |i|
%>
      <li><%= select_tag "config_list_sorting[#{i}][]", options_for_select(columns_options, selected: selected[i]&.first), include_blank: as_(:_select_), class: 'column' %>
      <%= select_tag "config_list_sorting[#{i}][]", options_for_select(order_options, selected: selected[i]&.last), include_blank: as_(:_select_), class: 'order' %></li>
<% end %>
    </ol></dd></dl>
  </li>
  <% end %>
</ol>
