<% url_options = params_for(action: :config_list) -%>
<%=
options = {id: element_form_id(action: :config_list),
           class: "as_form config_list",
           remote: request.xhr?,
           method: :post,
           'data-loading' => true}
form_tag url_options, options %>
  <h4><%= active_scaffold_config.config_list.label -%></h4>
  <%= render 'show_config_list_form_body' %>
  <p class="form-footer">
    <%= submit_tag as_(:config_list), class: "submit" %>
    <%= link_to as_(params[:config_list_view].present? ? :delete : :reset), url_for(url_options.merge(config_list: '')), class: 'as_cancel', remote: true, data: {refresh: true, method: :post} %>
    <%= loading_indicator_tag(action: :config_list) %>
  </p>
</form>
